<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ARCFinalPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ARCFinalPrint.Properties.Settings>
            <setting name="path_1" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="processorType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="path_2" serializeAs="String">
                <value>C:\</value>
            </setting>
        </ARCFinalPrint.Properties.Settings>
    </userSettings>
</configuration>